#map {
	width: 100%;
	height: 100%;
	color: #3d3d29;
	border: 1px solid black;
}


.dropdown {
	text-align: center;
	padding-bottom: 15px;
}

#select-state {
	width: 270px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 5px;
	padding-right: 5px;
}

.map-directions {
	text-align: center;
}


html {
	overflow: scroll;
}
